.content {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow-y: auto;
    
}

.basketHeader {
    background-color: #F7EDFF;
    height: 51px;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.subjectBasket {
    display: flex;
    flex-direction: column;


}

.majorSelect {
    display: flex;
    /* flex: 1; */
    /* height: 650px; */
}

.lectureList {
    max-height: 180px;
    overflow-y: auto;
    padding-right: 5px;
    padding-top: 30px;
    border: 1px solid black;
}


.lectureList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: -20px;
}


.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;

    align-items: center;
    justify-content: center;


}

.modalContent {
    background-color: white;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.delete {
    font-weight: 400;
    font-size: 30px;
}

.checkbtn {
    width: 100px;
    height: 40px;
    font-size: 24px;
}

.canclebtn {
    width: 100px;
    height: 40px;
    font-size: 24px;
}

.btnGroup {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.regbtn-delete {
    background-color: #e3c6ff;
}

.regbtn-delete {
    background-color: #cfa9f4;
}

.regbtn-delete:hover {
    cursor: pointer;
    background-color: #cc97ff;
}