
.subjectHeader .basketHeader{
    background-color: #F7EDFF;
    height: 51px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;

}


.lectureList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: -20px;
}
