.topbar {
    box-sizing: border-box;

    width: 1600px;
    height: 80px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #8B5FBF;
    background: #EAD8FA;
    border-radius: 10px;
}

.topbar>div {
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    color: #000000;
    padding: 0;
    margin: 0;
}

.active {
    box-sizing: border-box;

    width: 400px;
    height: 80px;

    background: #FFFFFF;
    border-radius: 10px;
}

.professorTimeTable1 {
    width: 1600px;
    height: 750px;
    margin-top: 20px;
    overflow: auto;
}

.professorTimeTable1 table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

}

.professorTimeTable1 th,
.professorTimeTable1 td {
    width: auto;
    border: 1px solid #000000;
    height: 70px;
    text-align: center;
}

.professorTimeTable2 {
    width: 1600px;
    height: 760px;
    margin-top: 20px;
    overflow: auto;
}

.professorTimeTable2 table {
    width: 100%;
    border-collapse: collapse;

}

.professorTimeTable2 th,
.professorTimeTable2 td {
    width: auto;
    border: 1px solid #000000;
    height: 70px;
    text-align: center;
}

.professorTimeTable2 td:first-of-type {
    width: 200px;
}

.professorTimeTable2 td:nth-of-type(2) {
    width: 200px;
}


.professorTimeTable2 td:nth-of-type(4) {
    width: 200px;
}

.professorTimeTable2 td:nth-of-type(5) {
    width: 200px;
}

.adminbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.adminbtn button {
    background: #e0c1ff;
}

.adminbtn button:hover {
    background: #cc97ff;
}