main {
    display: flex;
    width: 100%;
    max-width: 1920px;
}

.topbar {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #8B5FBF;
    background: #EAD8FA;
    overflow: hidden;
    cursor: pointer;
}

.topbar .empty-slot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
}

article {
    min-width: 0;
    flex: 1;
}

.topbar>div {
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.active {
    height: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    background: #FFFFFF;
}

.professorTimeTable1 {
    width: 100%;
    height: 755px;
    display: grid;
    grid-template-columns: 130px repeat(5, minmax(150px, 1fr));
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.professorTimeTable1>*>* {
    padding: 5px;
}

.timetableCol {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    border-right: 1px solid #000000;
}

.timetableCol:last-child {
    border-right: none;
}

.timetableCol>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
}

.timetableCol>div:last-child {
    border-bottom: none;
}

.fixedTime {
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
}

.lastTime {
    border-bottom: none;
}

.professorTimeTable2 {
    width: 100%;
    height: 755px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    align-items: center;
    overflow: auto;
    display: none;
}

.professorTimeTable2 table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: fixed;
}

.professorTimeTable2 th,
.professorTimeTable2 td {
    height: 80px;
    border: 1px solid #000000;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.professorTimeTable2 th:nth-child(1),
.professorTimeTable2 td:nth-child(1) {
    width: 10%;
}

.professorTimeTable2 th:nth-child(2),
.professorTimeTable2 td:nth-child(2) {
    width: 15%;
}

.professorTimeTable2 th:nth-child(3),
.professorTimeTable2 td:nth-child(3) {
    width: 45%;
}

.professorTimeTable2 th:nth-child(4),
.professorTimeTable2 td:nth-child(4) {
    width: 20%;
}

.professorTimeTable2 th:nth-child(5),
.professorTimeTable2 td:nth-child(5) {
    width: 20%;
}

.adminbtn button {
    align-items: ri;
}