/* top bar */
.topbar {
    width: 100%;
    height: 80px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #8b5fbf;

    background: #ead8fa;

    overflow: hidden;
    cursor: pointer;
}

.topbar .empty-slot:last-child {
    display: none;

    padding-right: 15px;
    gap: 10px;

    justify-content: flex-end;
    align-items: center;
}

.topbar>div {
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;

    text-align: center;
    white-space: nowrap;

    overflow: hidden;
}

.active {
    width: 100%;
    height: 80px;
    line-height: 80px;

    padding: 0;
    margin: 0;
    border-radius: 10px;

    background: white;
}

/* Timetable1 (myTimetable) */
.professorTimetable1 {
    width: 100%;
    height: 755px;

    display: grid;
    grid-template-columns: 130px repeat(5, minmax(150px, 1fr));

    border: 1px solid black;
    border-radius: 10px;

    text-align: center;
    align-items: center;

    overflow: hidden;
}

.professorTimetable1>*>* {
    padding: 5px;
}

.timetableCol {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    border-right: 1px solid black;
}

.timetableCol:last-child {
    border-right: none;
}

.timetableCol>div {
    width: 100%;
    height: 100%;

    display: flex;

    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
}

.timetableCol>div:last-child {
    border-bottom: none;
}

.fixedTime {
    border-bottom: 1px solid black;
}

.lastTime {
    border-bottom: none;
}

/* Timetable2 (learningList) */
.professorTimetable2 {
    width: 100%;
    height: 755px;

    display: grid;
    grid-template-columns: 130px repeat(5, minmax(150px, 1fr));

    border: 1px solid black;
    border-radius: 10px;

    text-align: center;
    align-items: center;

    display: none;
    overflow: auto;
}

.professorTimetable2 table {
    width: 100%;

    border-collapse: collapse;
    table-layout: fixed;
}

.professorTimetable2 th:first-child {
    font-weight: bold;
}

.professorTimetable2 th,
.professorTimetable2 td {
    height: 80px;

    border: 1px solid black;
    border-top: none;
    border-left: none;
    text-align: center;
    overflow: hidden;
}

.professorTimetable2 th:last-child,
.professorTimetable2 td:last-child {
    border-right: none;
}

.professorTimeTable2 th:nth-child(1),
.professorTimeTable2 td:nth-child(1) {
    width: 10%;
}

.professorTimeTable2 th:nth-child(2),
.professorTimeTable2 td:nth-child(2) {
    width: 15%;
}

.professorTimeTable2 th:nth-child(3),
.professorTimeTable2 td:nth-child(3) {
    width: 45%;
}

.professorTimeTable2 th:nth-child(4),
.professorTimeTable2 td:nth-child(4) {
    width: 20%;
}

.professorTimeTable2 th:nth-child(5),
.professorTimeTable2 td:nth-child(5) {
    width: 20%;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: white;
    width: 750px;
    padding: 35px;
    border-radius: 10px;
    border: 1px solid #8b5fbf;
}

.modal-layout {
    display: none;
    flex-direction: column;
}

.modal-title {
    font-size: 30sspx;
    margin-bottom: 25px;
    text-align: center;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.info-item {
    display: flex;
    border: 1px solid #ababab;
    border-radius: 10px;
    height: 48px;
    overflow: hidden;
    background: white;
}

.full-width {
    grid-column: span 2;
}

.info-item .label {
    background-color: #f5f5f5;
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    border-right: 1px solid #ababab;
}

.info-item input,
.info-item select {
    flex: 1;
    border: none;
    padding: 0 12px;
    outline: none;
    font-size: 15px;
}

.id-combo {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 10px;
    flex: 1;
}

.id-combo select,
.id-combo input {
    border: 1px solid #ababab;
    height: 32px;
    border-radius: 10px;
    flex: none;
}

.id-combo #id-num {
    width: 60px;
}

.helper-text {
    font-size: 12px;
    color: #f5f5f5;
    margin-left: 5px;
}

.textarea-item {
    flex-direction: column;
    height: auto;
    margin-top: 10px;
}

.textarea-item .label {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ababab;
    height: 35px;
    justify-content: flex-start;
    padding-left: 15px;
}

#lessonContent {
    width: 100%;
    height: 100px;
    padding: 12px;
    border: none;
    resize: none;
    outline: none;
    font-size: 15px;
}

.modal-btn-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 25px;
}

.modalbtn {
    width: 130px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ababab;
    font-size: 16px;
}

.modalbtn :hover {
    background-color: #ababab;
}

#delete-target-info {
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}