* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'normalFont';
}

@font-face {
    font-family: 'normalFont';
    src: url('../../../font/SCDream4.otf') format('opentype');
}

body {
    display: grid;
    grid-template-rows: 90px 1fr 60px;
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
}

article {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

#headerLogo:hover {
    cursor: pointer;
}

header {
    width: 100%;
    background-color: #EFDFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

footer {
    height: 60px;
    width: 100%;
    flex-shrink: 0;
}

.topbar {
    width: 100%;
    height: 60px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 11px;
    border-radius: 10px;
    border: 1px solid #8b5fbf;

    background: #EFDFFF;

    overflow: hidden;
    cursor: pointer;
}

.topbar>div {
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;

    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;

    overflow: hidden;
}

.active {
    width: 100%;
    height: 60px;
    line-height: 80px;

    padding: 0;
    margin: 0;
    border-radius: 10px;

    background: white;
}

/* Timetable1 (myTimetable) */
.studentTimetable1 {
    width: 100%;
    height: 529px;

    display: grid;
    grid-template-columns: 130px repeat(5, minmax(150px, 1fr));

    border: 1px solid black;
    border-radius: 10px;

    text-align: center;
    align-items: center;

    overflow: hidden;
}

.studentTimetable1>*>* {
    padding: 5px;
}

.timetableCol {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    border-right: 1px solid black;
}

.timetableCol:last-child {
    border-right: none;
}

.timetableCol>div {
    width: 100%;
    height: 100%;

    display: flex;

    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
}

.timetableCol>div:last-child {
    border-bottom: none;
}

.fixedTime {
    border-bottom: 1px solid black;
}

.lastTime {
    border-bottom: none;
}

/* Timetable2 (learningList) */
.studentTimetable2 {
    width: 100%;
    height: 529px;

    display: grid;
    grid-template-columns: 130px repeat(5, minmax(150px, 1fr));

    border: 1px solid black;
    border-radius: 10px;

    text-align: center;
    align-items: center;

    display: none;
    overflow: auto;
}

.studentTimetable2 table {
    width: 100%;

    border-collapse: collapse;
    table-layout: fixed;
}

.studentTimetable2 th:first-child {
    font-weight: bold;
}

.studentTimetable2 th,
.studentTimetable2 td {
    height: 45px;

    border: 1px solid black;
    border-top: none;
    border-left: none;
    text-align: center;
    overflow: hidden;
}

.studentTimetable2 th:last-child,
.studentTimetable2 td:last-child {
    border-right: none;
}

.studentTimetable2 th:nth-child(1){
    width: 15%;
}

.studentTimetable2 th:nth-child(2) {
    width: 45%;
}

.studentTimetable2 th:nth-child(3) {
    width: 20%;
}

.studentTimetable2 th:nth-child(4){
    width: 20%;
}
