main {
    display: flex;
    /* width: 100%; */
    /* max-width: 1920px; */
}

article {
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    flex: 1;
}

.openingList {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
}

.title {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20PX 20px;
    background-color: #ffffff;
    white-space: nowrap;
}

.text {
    font-weight: bold;
    font-size: 36px;
    white-space: nowrap;
    flex: 1;
}

.option {
    flex: 1;
    display: flex;
    justify-content: center;
}

.option select {
    width: 500px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10PX;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.lecture-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lecture-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.subjectName {
    font-weight: 500;
}

.subjectInfo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dot {
    color: #000000;
}

.button-group {
    padding: 10px;
}