* {
    box-sizing: border-box;
    margin: 0;
}

footer {
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
    background-color: white;
}
#contact{
    font-size: 24px;
}