* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'normalFont';
}

@font-face {
  font-family: 'normalFont';
  src: url('/../class_breaker/src/font/SCDream4.otf') format('opentype');
}

body {
  width: 100vw;
  display: grid;
  grid-template-rows: 90px 1fr 60px;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: #EFDFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

main {
  width: 98.97vw;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 275px 1fr;
  min-width: 0;
}

article {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 0;
}

#headerLogo {
  margin-left: 30px;
  padding: 5px;
  height: 90px;
}

#dday {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  margin-right: 30px;
}

/*버튼        */
/*      스타일*/

/*메인페이지 버튼들*/
.mainRegbtn {
  background-color: #e0c1ff;
  font-size: 40px;
  box-sizing: border-box;
  width: 330px;
  height: 75px;
}

.mainRegbtn:hover {
  background-color: #cc97ff;
}

.mainRoombtn {
  background-color: #efdfff;
  font-size: 30px;
  margin: 10px;
  position: absolute;
  top: 20px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 208px;
  height: 48px;

}

.mainRoombtn:hover {
  background-color: #d6adff;
}

/*관리자버튼(수정,작성,삭제)*/
.adminbtn {
  background-color: #e0c1ff;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}

.adminbtn:hover {
  background-color: #cc97ff;
}

/*로그인페이지*/
.loginbtn {
  background-color: #e0c1ff;
}

/*모달창*/
.modalbtn {
  background-color: #dadada;
}

.modalbtn:hover {
  background-color: #b4b4b4;
}

/*수강신청페이지*/
.regbtn {
  background-color: #e3c6ff;
  border-radius: 10px;
  border: none;
}

.regbtn {
  background-color: #cfa9f4;
}

button:hover {
  cursor: pointer;
}