* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'normalFont';
}

@font-face {
  font-family: 'normalFont';
  src: url('../../../font/SCDream4.otf') format('opentype');
}

body {
  display: grid;
  grid-template-rows: 90px 1fr 60px;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
}

article {
  width: 100%;
  height: 100%;
}

#headerLogo:hover {
  cursor: pointer;
}

header {
  width: 100%;
  background-color: #EFDFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

footer {
  height: 60px;
  width: 100%;
}

#headerLogo {
  margin-left: 30px;
  padding: 5px;
  height: 90px;
}

#dday {
  display: flex;
  flex-direction: row;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  margin-right: 10px;
}

.noheader{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#logoutBtn {
  background: none;
  border: none;
  padding: 5px 12px;
  font-size: 15px;
  cursor: pointer;
}

#logoutBtn:hover {
    text-decoration: underline;
}

/*버튼        */
/*      스타일*/

/*메인페이지 버튼들*/
.mainRegbtn {
  background-color: #e0c1ff;
  font-size: 30px;
  box-sizing: border-box;
  width: 230px;
  height: 45px;
  display: flex;
  justify-content: center;
}

.mainRegbtn:hover {
  background-color: #cc97ff;
}

.mainRoombtn {
  background-color: #efdfff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100px;
  height: 35px;

}

.mainRoombtn:hover {
  background-color: #d6adff;
}

/*관리자버튼(수정,작성,삭제)*/
.adminbtn {
  background-color: #e0c1ff;
  border-radius: 10px;
  font-size: 20px;
}

.adminbtn:hover {
  background-color: #cc97ff;
}

/*로그인페이지*/
.loginbtn {
  background-color: #e0c1ff;
}

/*모달창*/
.modalbtn {
  background-color: #dadada;
}

.modalbtn:hover {
  background-color: #b4b4b4;
}

/*수강신청페이지*/
.regbtn {
  background-color: #e3c6ff;
}

.regbtn {
  background-color: #cfa9f4;
}

button:hover {
  cursor: pointer;
}