        aside {
            width: 275px;
            height: 100%;
            background: #EAD8FA;
            border: 1px solid #8B5FBf;
            /* border-topradius: 8px; */
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
            margin-right: 15px;
        }

        .menu {
            width: 270px;
            height: 80px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu:hover{
            cursor: pointer;
            background-color: #cc97ff;
        }

        /* js로 클릭했을 때 하얀색되게 */
        .menuActive {
            background: #ffffff;
            border: 1px solid #8B5FBF;
        }

        
        .option{
            margin-top: 100px;
            width: 270px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;
        }