.Check {
    height: 760px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.subjectHeader {
    background-color: #F7EDFF;
    height: 51px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.majorSelect {
    display: flex;
    flex: 1;
}

.option {
    width: 250px;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.option select {
    width: 100%;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.lecture-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    width: 100%;
    margin-bottom: 30px;
    margin-left: -20px;
}

.subjectInfo {
    display: flex;
    align-items: center;
    gap: 50px;
}

.groupRadio span {
    margin-right: 200px;
    margin-left: 30px;
}

.dot {
    color: #ccc;
}

