<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/ui/module/sidebar.css">
</head>

<body>
    <aside>
        <div class="option">
            <select>
                <option disabled selected hidden>강의실 선택</option>
                <option>운영체제</option>
                <option>사회와 마케팅</option>
                <option>웹프로그래밍</option>
                <option>인공지능캡스톤</option>
            </select>
        </div>
        <div class="menu 1">공지사항</div>
        <div class="menu 2">마이페이지</div>
        <div class="menu 3">강의실</div>
        <div class="menu 4">수강신청</div>
        <div class="menu 5">수강신청</div>
    </aside>
</body>
</html>