<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/ui/module/sidebar.css">
</head>

<body>
    <aside>
        <div class="menu menu3 hover">마이페이지</div>
        <div class="menu menu4 hover">강의실</div>
        <div class="menu menu5 hover">수강신청</div>
        <div class="menu menu6 hover">공지사항</div>
    </aside>

    <script>
        var userInfo = JSON.parse(localStorage.getItem('user'));
        // currentUserInfo;

        document.querySelector('.dontHover').style.display = 'none';
        document.querySelector('.menu2').style.display = 'none';
        document.querySelector('.menu3').innerText = '공지사항';
        document.querySelector('.menu4').innerText = '마이페이지';
        document.querySelector('.menu5').innerText = '강의실';
        document.querySelector('.menu6').innerText = '수강신청';

        // document.querySelector('.menu3').addEventListener('click',()=>{
        //     location.assign("../notice/index.html");
        // })
        document.querySelector('.menu4').addEventListener('click', () => {
            location.assign("www.naver.com");
        })

        const a = () => {
            // document.querySelector('.menu1>select').innerText=document.querySelector('option:checked').innerText;
            console.log(`${document.querySelector('option checked').innerText}`);

        }
        // document.querySelectorAll('option').forEach(e, (e)=>{
        //     addEventListener('change',a());
        //     })
    </script>
</body>

</html>