article {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
}

/* 왼쪽 영역 (공지사항 + 수강신청) */
.artLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px
}

/* 오른쪽 영역 (마이페이지 + 내 강의) */
.artRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

li {
    list-style: none;
    padding: 0;
}

/* 공지사항 배경 박스 */
.notice {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


/* 더보기> */
.notice .plus {
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

/* 공지사항 내부 리스트 */
.notice>ul>li {
    margin: 10px 0px;
    padding-left: 20px;
    line-height: 60px;
    font-size: 24px;
    background: #F5F5F5;
    border: 1px solid #ABABAB;
    border-radius: 10px;

    cursor: pointer;
}

/* 수강신청 기간 박스 */
.register {
    height:100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register>p{
    margin-left: 30px;
}
.horiz {
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    margin-left: 30px;
    margin-right: 30px;
}

.date {
    margin: 10px 0;
    font-weight: 700;
    font-size: clamp(24px, 5vw, 50px);
}

/* 마이페이지 박스 */
.myPage {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    gap: 10px; 
}
.myPageTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myPage>ul>li {
    font-size: 30px; 
    padding: 10px 0;
}

/* 강의실 박스 */
.lecture {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.lecture>ul>li {
    margin-top: 15px;
    border: 1px solid #ABABAB;
    border-radius: 10px;
    font-size: 28px;
    background: #F5F5F5;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/* 박스 안 큰 제목 공통 */
.titleText {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
}